RewriteEngine On
RewriteBase /lesson
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule (.*) - [L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^login$ router/router.php/$1 
RewriteRule ^(.+)/(.+)$ router/router.php/$1 [QSA,L]
DirectoryIndex views/index.php